

.navbar-item {
    background-color: #95dfe3;
    border-radius : 20%;
    border: 3px dashed #3f2b44;

}

.store-features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
}

.reviews {
    border: 10px double #3f2b44;
    background-color: #95b8e3;
    border-radius: 13%;
    max-height: fit-content;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
}
.store-features-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
   
    
    
}

.is-ancestor {
    background-image: url('https://i.pinimg.com/originals/c9/ff/91/c9ff911244df4f3298237c7235ab75c8.png');
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;

}


.tile-wide {
    width: 550px;
    margin-left: 220px;
   
}
.content-review {
    max-width: 475px;;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 20px;

    
    
}

.footer {
    height: 270px;
}
@media (max-width: 800px) {
  
    .carousel {
      display: none;
  
      margin-left : 0%;
    }
  
  
}
  
.title-header {
    border: 18px double black;
    border-radius: 13%;
    max-width: fit-content;
    background-color: white;
}
  
#spinner-right {
    padding-left: 700px;
    
  
}
  
.level-nav {
    background-color: #95b8e3;
  
}

.logo {
    border: 3px solid black;

}

#header {
    background-image: url('https://windows10spotlight.com/wp-content/uploads/2017/10/50f1b025d7eaa324229046008bde567f.jpg');
    background-position-y: 730px;
}
  
.carousel {
    
    max-width: 800px;
    
    margin-right: 45%;
    position: relative;
}
  
.carousel .carousel-item,
.carousel .carousel-item-hidden {
    display: none;
}
  
  
.hero-head {
  background-color: #dfede6;
  color: black;
}

#main {
    background-image: url('https://i.pinimg.com/originals/c9/ff/91/c9ff911244df4f3298237c7235ab75c8.png');
    
}

.carousel .carousel-item-visible {
    display: block;
    animation: fadeVisibility 0.5s;
}
  
.carousel .carousel-item img {
    
    width: 100%;
    max-width: 800px;
    height: 450px;
    border : 17px groove white;
    border-radius: 15%;
    margin-left: 41.5%;
   
    
}
  
.carousel .carousel-actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel .carousel-actions button {
    margin-top: 450px;
    border-radius: 50px;
    background-color: white;
    border: 2px groove  #3f2b44;
    font-size: 25px;
    font-weight: bolder;
    cursor: pointer;
    width: 45px;
    height: 45px;
    
    
}
  
.carousel .carousel-actions button#carousel-button-prev {
    margin-left: 20px;
    margin-left: 45.5%;
}
  
.carousel .carousel-actions button#carousel-button-next {
    margin-right: 20px;  
    margin-left: 81.5%; 
}
  
#dna {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
  